/chatflow-app/server/target
/chatflow-app/client-part1/target
/chatflow-app/client-part2/target
/chatflow-app/consumer-server/target
/chatflow-app/distributed-client/target
*.class
/chatflow-app/hw2/server-v2/target
/chatflow-app/hw2/consumer/target
